*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    line-height: 1.6;
}

.tasks-container{
    display:flex;
    flex-direction: column;
    background-color: gainsboro;
    width: auto;
    font-size: 1.8rem;
    padding: 15px;
    margin: 20px;
}

.task-card{
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    margin-bottom: 20px;
}