/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
}

body {
  /* font-family: "Roboto Mono", monospace; */
  font-family: "Poppins", sans-serif;
}

.disabled {
  display: none !important;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.sidebar {
  height: 100vh;
  background-color: #27272a;
  color: white;
}

.sidebar-nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, max-content);
  gap: 30px;
  padding: 30px 20px;
}

.app-logo {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
}

.workspace-header {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  margin: 0 10px;
}

.create-project-btn,
#showDoneTasksBtn {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #f3f4f6;
  gap: 10px;
  padding: 5px;
  border-radius: 5px;
}

.menus-section,
.workspaces {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.menus-section {
  margin-bottom: 50px;
}

.workspaces {
  margin-top: 30px;
}

.project-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
}

.project-card-active {
  background-color: #18181b;
  scale: 1.03;
}

.project-nav {
  font-size: 1.8rem;
}

.project-icon {
  height: 24px;
  width: 24px;
}

.material-symbols-outlined {
  display: flex;
  align-items: center;
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
  font-size: 2.2rem;
}

.material-symbols-outlined-active {
  font-variation-settings: "FILL" 1;
}

.content {
  position: relative;
  display: grid;
  grid-template-rows: 2fr 6fr max-content;
  background-color: #171717;
}

.display-board {
  position: relative;
}

.display-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.display-project-name {
  background: rgba(229, 231, 235, 0.5);
  padding: 20px 50px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.6rem;
  font-weight: 700;
  color: #f5f5f5;
  border-radius: 5px;
}

.tasks-section {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  padding: 80px 250px;
}

.tasks-container,
.tasks-completed-container {
  display: flex;
  flex-direction: column;
  width: auto;
  font-size: 1.8rem;
}

.task-form {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr;
  background-color: #334155;
  margin-top: 10px;
  font-size: 1.8rem;
  border-radius: 5px;
}

.bottom-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 20px 20px;
  gap: 100px;
}

.left-panel {
  display: grid;
  grid-template-rows: max-content;
  gap: 10px;
}

.right-panel {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  gap: 10px;
}

.action-panel {
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-top: 10px;
}

.task-card,
.top-panel {
  display: flex;
  background-color: #334155;
  color: #fafafa;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  border-radius: 5px;
}

.task-card {
  margin-top: 10px;
}

.card-left > input {
  border: none;
  background-color: inherit;
  color: inherit;
}

.card-left,
.card-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.card-right > span {
  color: transparent;
}

.task-check {
  height: 20px;
  width: 20px;
  background-color: #d9d9d9;
  border-radius: 5px;
}

.task-checked {
  background-color: green;
}

.task-done {
  text-decoration: line-through;
  color: gray;
}

.content-footer {
  position: sticky;
  bottom: 0;
  font-size: 1.8rem;
  background-color: #334155;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.dialog-modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 10px;
  background-color: #d1d5db;
}

.form-header {
  display: flex;
  background-color: #27272a;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  /* border: 1px solid red; */
}

.form-header > p {
  color: #d1d5db;
  font-size: 1.9rem;
  font-weight: 700;
}

.cancel-btn,
.action-btn {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #d1d5db;
  width: 80px;
}

.action-btn {
  background-color: #059669;
  color: #f3f4f6;
}

.action-btn,
.addTask-btn,
.cancel-btn,
#showDoneTasksBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
}

.addTask-btn {
  display: flex;
  justify-content: start;
  background-color: #334155;
  width: 100%;
  border: none;
  color: #f3f4f6;
  padding: 20px 20px;
  margin-top: 10px;
  gap: 15px;
  border-radius: 5px;
}

.form-body {
  padding: 15px 10px;
}

.form-body > p {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 5px;
}

#projectNameInput {
  font-size: 1.6rem;
  padding: 5px;
  width: 350px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.project-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.radio-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  background-color: #f3f4f6;
  border-radius: 5px;
}

.radio-label input {
  display: none;
}

.radio-label > span {
  padding: 5px;
  border-radius: 5px;
}

.radio-label input:checked + span {
  border: 2px solid #27272a;
}

input,
select {
  font-family: inherit;
}

.project-card:hover,
.create-project-btn:hover {
  background-color: #18181b;
}

.project-card:hover .card-right > span,
.task-card:hover .card-right > span {
  color: inherit;
  cursor: pointer;
}
